<div class="container">
    <div class="row">
        <div class="col-md-5"> </div>
        <div class="col-md-5"> <span> All Visitors Signed In </span> </div>
        <div class="col-md-2"> </div>
        <div class="col-md-12">
            <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Visiting</th>
                    <th>Signed Ins</th>
                    <th>image</th>
                    <th>Action</th>
                </tr>
                </thead>

                <tbody>
                {{#each data}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{contactname}}</td>
                        <td>{{accountname}}</td>
                        <td>{{employeename}}</td>
                        <td>{{settime}}</td>
                        <td><img src="https://reception.cromwell-tools.co.uk/images/{{imagepath}}?thumb=200x150" onerror="this.src='https://reception.cromwell-tools.co.uk/images/noimage.jpg?thumb=125x100'"
                                 style="width: 125px;length:100px;"/></td>

                        <!--<td class="target text-center"><a class="btn btn-sm btn-primary" href="#" id="">SignOut</a></td>-->
                        <td  class ="target btn btn-primary btn-sm btn-lg btn-space"  id="{{logid}}" href="" style="margin-top: 36px;margin-right: 10px;">Sign Me Out!</td>
                    </tr>
                {{/each}}

                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="/js/jquery-1.12.3.min.js" ></script>
<script>
    $(document).ready(function() {
         $('#datatable').DataTable( {
            "order": [[ 4, "desc" ]],
            "scrollX": true
        });
    });

    var chk = new Date();
    var month = chk.getMonth()+1;
    var myDate = [chk.getFullYear(), month <10 ? '0' + month : month , chk.getDate() < 10 ? '0' + chk.getDate() : chk.getDate()].join('-');
    var myTime = new Date().toTimeString().replace(/.*(\d{2}:\d{2}:\d{2}).*/, "$1");


    $(document).ready(function(){
        var table = $('#datatable').DataTable();
        $(".target").click(function(){
            var line = this;
            var contentPanelId = jQuery(this).attr("id");
            //alert(contentPanelId);
            $.ajax({
                url: '/visitors/'+contentPanelId,
                type: 'PUT',
                data: JSON.stringify({ "signout": myDate + ' ' + myTime}),
                contentType: 'application/json; charset=utf-8',
                success: function(response) {
                    //...
                    console.log(response.message);


                    table
                            .row( $(line).parents('tr') )
                            .remove()
                            .draw();
                },
                error: function () {
                    //your error code
                }
            });
        });
    });
</script>
