<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-5"> </div>
            <div class="col-md-5"> <span> All Staff Signed In </span> </div>
            <div class="col-md-2"> </div>
            <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>UserId</th>
                    <th>Name</th>
                    <th>Sign In</th>
                    <th>Status</th>
                    <th>image</th>
                    <th>Action</th>
                </tr>
                </thead>

                <tbody>
                {{#each data}}
                    <tr>
                        <td>{{staff_id}}</td>
                        <td>{{first_name}} {{surname}}</td>
                        <td id="signout_time">{{signin_time}}</td>
                        <td style="font-weight: bold; color: #337ab7">In The Building</td>
                        <td><img src="https://reception.cromwell-tools.co.uk/images/{{staff_id}}.jpg?thumb=200x150" onerror="this.src='https://reception.cromwell-tools.co.uk/images/noimage.jpg?thumb=125x100'"  style="width: 125px;length:100px;"/></td>
                        <td  class ="target btn btn-primary btn-sm btn-space"    id="{{staff_id}}" href="" style="margin-top: 36px;margin-right: 10px;">
                            Sign Me Out!
                        </td>
                    </tr>
                {{/each}}

                </tbody>
            </table>
        </div>
    </div>

</div>

<script src="/js/jquery-1.12.3.min.js" ></script>
<script>
    var table ="";
    $(function() {
        table = $('#datatable').DataTable( {
            "order": [[ 1, "asc" ]]
        });
    });


//    $( "#Signout" ).click(function() {
//        alert( "Handler for .click() called." );
//    });
    var chk = new Date();
    var month = chk.getMonth()+1;
    var myDate = [chk.getFullYear(), month <10 ? '0' + month : month , chk.getDate() < 10 ? '0' + chk.getDate() : chk.getDate()].join('-');
    var myTime = new Date().toTimeString().replace(/.*(\d{2}:\d{2}:\d{2}).*/, "$1");



        $(".target").click(function(){
        console.log("button clicked");

            var line = this;
            var contentPanelId = jQuery(this).attr("id");
           // alert(contentPanelId);
            $.ajax({
                url: '/staffSignOut/'+contentPanelId,
                type: 'GET',
                success: function(response) {
                    //...
                    table
                            .row( $(line).parents('tr').find('td').eq(4).text(myDate + ' ' + myTime))
                            .row( $(line).attr({class: '', }) )
                            .row( $(line).html('Signed Out') )
                            .draw();
                },
                error: function () {
                    //your error code
                }
            });
        });

</script>
