
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-5"> </div>
                    <div class="col-md-5"> <span> All Visitors Signed Out </span> </div>
                    <div class="col-md-2"> </div>
                    <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Company</th>
                            <th>Visited</th>
                            <th>Vehicle Reg</th>
                            <th>image</th>
                            <th>Signed Out</th>
                        </tr>
                        </thead>

                        <tbody>
                        {{#each data}}
                            <tr>
                                <td>{{id}}</td>
                                <td>{{contactname}}</td>
                                <td>{{accountname}}</td>
                                <td>{{employeename}}</td>
                                <td>{{vehiclereg}}</td>
                                <td><img src="https://reception.cromwell-tools.co.uk/images/{{imagepath}}?thumb=200x150" onerror="this.src='https://reception.cromwell-tools.co.uk/images/noimage.jpg?thumb=125x100'"
                                         style="width: 125px;length:100px;"/></td>
                                <td>{{signout}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script src="/js/jquery-1.12.3.min.js" ></script>

        <script>
            $(function() {
                $('#datatable').DataTable({
                    "order": [[ 5, "desc" ]]
                });
            })
        </script>
