
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>
                {{#if data}}
                <tr>
                    <th>Select</th>
                    <th>Version</th>
                    <th>Terms</th>

                </tr>
                {{/if}}
                </thead>

                <tbody>

                {{#each data}}
                    <tr>

                        <td>
                            <div class="radio">
                                <label ><input type="radio" name="optradio" class="sel-rd" value="{{id}}"  ></label>
                            </div>
                        </td>
                        <td>{{id}}</td>
                        <td>
                            <textarea class="form-control" rows="5"   name="terms_data">{{terms_file}}</textarea>
                            <button class="btn btn-sm btn-primary" id="{{id}}"  class="preview" >Preview</button>
                        </td>
                    </tr>
                    {{else}}
                    <tr>
                        <td>
                            <span>"No content"</span>
                        </td>
                    </tr>

                {{/each}}

                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="/js/jquery-1.12.3.min.js" ></script>
<script>
//    $(function() {
//        $('#datatable').DataTable();
//    });

    var chk = new Date();
    var month = chk.getMonth()+1;
    var myDate = [chk.getDate(), month <10 ? '0' + month : month , chk.getFullYear()].join('-');
    var myTime = new Date().toTimeString().replace(/.*(\d{2}:\d{2}:\d{2}).*/, "$1");


    $(document).ready(function(){
        $(".sel-rd").click(function(){
            //var line = this;
            var contentPanelId = jQuery(this).attr("value");

            $.ajax({
                url: '/terms/'+contentPanelId,
                type: 'PUT',
                success: function(response) {
                    //...
                    console.log(response.message);
                },
                error: function () {
                    //your error code
                }
            });
        });
    });
</script>
<script>
    $(".btn-primary").on("click", function() {
        var panelId = jQuery(this).attr("id");
        if(panelId != "undefined"){
            var win = window.open('/terms/'+ panelId, '_blank');
            win.focus();
            console.log(panelId);
        }

    });
</script>
