<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="datatable" class="table table-striped table-bordered display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Location</th>
                        <th>Type</th>
                        <th>Suggestion</th>
                        <th>&nbsp;&nbsp;&nbsp;&nbsp;Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Location</th>
                        <th>Type</th>
                        <th>Suggestion</th>
                        <th>Blank</th>
                    </tr>
                </tfoot>


                <tbody>
                {{#each data}}
                    <tr>
                        <td name="location">{{location}}</td>
                        <td name="type" id="type">{{type}}</td>
                        <td name="suggestion">{{suggestion}}</td>
                        <td>
                            <input type="button" class="sbm-btn btn btn-sm btn-primary"   id="{{id}}" value="Update" onclick="">
                            <input type="button" class="sbm-btn btn btn-sm btn-secondary"  id="{{id}}" value="Delete" onclick="">
                        </td>
                    </tr>
                {{/each}}

                </tbody>
            </table>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Update Suggestion</h4>
            </div>
            <div class="modal-body">
                <form role="form" id="update-form" action="" method="post">
                    <input name="_method" type="hidden" value="PUT">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="control-label col-sm-offset-2 col-sm-2" for="company">Location</label>
                            <div class="col-sm-8 col-md-8">
                                <select name="location" class="form-control" id="locationId">
                                    <option value="BRC">BRC</option>
                                    <!--<option value="WDC">WDC</option>-->
                                    </select>
                            </div>
                            <label class="control-label col-sm-offset-2 col-sm-2" for="company" >Type</label>
                            <div class="col-sm-8 col-md-8">
                                <select name="type" class="form-control" id="typeId">
                                    <option value="visitor_name">Visitor Name</option>
                                    <option value="Company">Company</option>
                                    <option value="Visiting">Visiting</option>
                                </select>
                            </div>

                            <label class="control-label col-sm-offset-2 col-sm-2" for="company" >Suggestion:</label>
                            <div class="col-sm-8 col-md-8">
                                <input class="form-control"  name="suggestion" id="suggestId"/>
                            </div>
                            <div class="col-sm-12 col-md-12">
                                <label class="control-label col-sm-offset-2 col-sm-2" for="company"></label>
                                <button type="button" class="sbm-btn btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                                <input type="submit" class="sbm-btn btn btn-sm btn-primary" value="Submit Button">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<script src="/js/jquery-1.12.3.min.js" ></script>
<script>
    $(document).ready(function() {
        $('#datatable').DataTable( {
            initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select><option value="">Select</option></select>')
                            .appendTo( $(column.footer()).empty() )
                            .on( 'change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                );

                                column
                                        .search( val ? '^'+val+'$' : '', true, false )
                                        .draw();
                            } );

                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    } );
                } );
            }
        } );
    } );

    $(".btn-primary").on("click", function() {
        var table = $('#datatable').DataTable();
        var data = table.row( $(this).parents('tr') ).data();
        var contentPanelId = jQuery(this).attr("id");
        $('#locationId').val(data[0]);
        if(data[1] == "Visitor Name"){
            data[1] ="visitor_name";
        }
        $('#typeId').val(data[1]);
        $('#suggestId').val(data[2]);
        $("#update-form").attr("action", "/autoComplete/" + contentPanelId);
        $('#myModal').modal('show');
    });

    $(document).ready(function(){
        var table = $('#datatable').DataTable();
        $(".btn-secondary").click(function(){
            var line = this;
            var contentPanelId = jQuery(this).attr("id");
            var data = table.row( $(this).parents('tr') ).data();
            //alert(contentPanelId);
            $.ajax({
                url: '/autoComplete/'+contentPanelId,
                type: 'DELETE',
                data: JSON.stringify({ "type": data[1]}),
                contentType: 'application/json; charset=utf-8',
                success: function(response) {
                    //...
                    console.log(response.message);


                    table
                            .row( $(line).parents('tr') )
                            .remove()
                            .draw();
                },
                error: function () {
                    //your error code
                }
            });
        });
    });


</script>
