<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form role="form" class="form-horizontal" id="addMarshall"  action="/fireMarshall" method="post">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="location">Location: </label>
                    <div class="col-sm-10">
                        <select name="location" class="form-control" id="location">
                            <option>BRC</option>
                            <!--<option>WDC</option>-->
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="marshall_name">Marshall Name: </label>
                    <div class="col-sm-10">
                            <input class="form-control"  id="marshall_name" name="marshall_name"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="marshall_email">Marshall Email: </label>
                    <div class="col-sm-10">
                        <input class="form-control"  pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" title="test@gmail.com" id="marshall_email" name="marshall_email"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-2">
                        <input type="submit" class="sbm-btn btn btn-sm btn-primary" value="Add Marshall">
                    </div>
                    <div class="col-sm-7">
                        <label style="margin-top: 20px;"><input type="checkbox" name="another"  checked ><span style="margin-left:13px">Create Another</span></label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/jquery-1.12.3.min.js" ></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script>


</script>
