<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!-- saved from url=(0014)about:internet -->
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="X-UA-Compatible" content="IE=8">
<TITLE>BRC Induction Booklet 2015 Review</TITLE>
<META name="generator" content="BCL easyConverter SDK 4.0.112">
<STYLE type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 0px 0px 45px 140px;padding: 0px;border: none;width: 782px;height: 1078px;}

#page_1 #p1dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:769px;height:1078px;}
#page_1 #p1dimg1 #p1img1 {width:769px;height:1078px;}




#page_2 {position:relative; overflow: hidden;margin: 73px 0px 0px 200px;padding: 0px;border: none;width: 676px;}

#page_2 #p2dimg1 {position:absolute;top:280px;left:0px;z-index:-1;width:486px;height:572px;}
#page_2 #p2dimg1 #p2img1 {width:486px;height:572px;}




#page_3 {position:relative; overflow: hidden;margin: 0px 0px 0px 200px;padding: 0px;border: none;width: 674px;}





#page_4 {position:relative; overflow: hidden;margin: 34px 0px 115px 112px;padding: 0px;border: none;width: 771px;}

#page_4 #p4dimg1 {position:absolute;top:90px;left:0px;z-index:-1;width:746px;height:751px;}
#page_4 #p4dimg1 #p4img1 {width:746px;height:751px;}




.dclr {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}

.ft0{font: bold 24px 'Arial Black';color: #ffff00;line-height: 32px;}
.ft1{font: bold 21px 'Arial';text-decoration: underline;line-height: 24px;}
.ft2{font: bold 16px 'Arial';text-decoration: underline;line-height: 19px;}
.ft3{font: 16px 'Arial';line-height: 18px;}
.ft4{font: bold 16px 'Arial';text-decoration: underline;color: #ff0000;line-height: 19px;}
.ft5{font: 16px 'Arial';line-height: 17px;}
.ft6{font: 16px 'Times New Roman';line-height: 19px;}
.ft7{font: 16px 'Arial';margin-left: 17px;line-height: 19px;}
.ft8{font: 16px 'Arial';line-height: 19px;}
.ft9{font: 16px 'Arial';margin-left: 17px;line-height: 18px;}
.ft10{font: bold 27px 'Arial';line-height: 31px;}
.ft11{font: 1px 'Arial';line-height: 3px;}
.ft12{font: 1px 'Arial';line-height: 10px;}
.ft13{font: bold 16px 'Calibri';color: #0000ff;line-height: 10px;}
.ft14{font: bold 15px 'Calibri';color: #0000ff;line-height: 18px;}
.ft15{font: bold 16px 'Arial Black';color: #ff0000;line-height: 14px;}
.ft16{font: 1px 'Arial';line-height: 11px;}
.ft17{font: 1px 'Arial';line-height: 4px;}
.ft18{font: bold 15px 'Calibri';color: #ff0000;line-height: 18px;}
.ft19{font: bold 16px 'Arial Black';color: #ff0000;line-height: 23px;}
.ft20{font: bold 16px 'Calibri';color: #0000ff;line-height: 19px;}
.ft21{font: bold 16px 'Arial Black';color: #ff0000;line-height: 22px;}
.ft22{font: bold 16px 'Arial';line-height: 19px;}

.p0{text-align: left;padding-left: 70px;margin-top: 64px;margin-bottom: 0px;}
.p1{text-align: left;padding-left: 114px;margin-top: 0px;margin-bottom: 0px;}
.p2{text-align: left;padding-left: 2px;margin-top: 19px;margin-bottom: 0px;}
.p3{text-align: left;padding-left: 2px;margin-top: 0px;margin-bottom: 0px;}
.p4{text-align: left;padding-left: 2px;padding-right: 141px;margin-top: 0px;margin-bottom: 0px;}
.p5{text-align: left;padding-left: 2px;padding-right: 126px;margin-top: 0px;margin-bottom: 0px;}
.p6{text-align: left;padding-left: 50px;padding-right: 136px;margin-top: 20px;margin-bottom: 0px;}
.p7{text-align: left;padding-left: 2px;padding-right: 131px;margin-top: 19px;margin-bottom: 0px;}
.p8{text-align: left;padding-left: 2px;padding-right: 130px;margin-top: 20px;margin-bottom: 0px;}
.p9{text-align: left;padding-left: 50px;margin-top: 37px;margin-bottom: 0px;}
.p10{text-align: left;padding-left: 2px;padding-right: 125px;margin-top: 7px;margin-bottom: 0px;}
.p11{text-align: left;padding-left: 2px;padding-right: 124px;margin-top: 0px;margin-bottom: 0px;}
.p12{text-align: left;padding-left: 2px;padding-right: 124px;margin-top: 19px;margin-bottom: 0px;}
.p13{text-align: left;padding-left: 49px;margin-top: 130px;margin-bottom: 0px;}
.p14{text-align: left;padding-right: 132px;margin-top: 0px;margin-bottom: 0px;}
.p15{text-align: left;padding-right: 132px;margin-top: 20px;margin-bottom: 0px;}
.p16{text-align: left;margin-top: 19px;margin-bottom: 0px;}
.p17{text-align: justify;padding-left: 48px;padding-right: 141px;margin-top: 1px;margin-bottom: 0px;text-indent: -24px;}
.p18{text-align: justify;padding-left: 24px;margin-top: 0px;margin-bottom: 0px;}
.p19{text-align: justify;padding-left: 48px;padding-right: 122px;margin-top: 0px;margin-bottom: 0px;text-indent: -24px;}
.p20{text-align: left;padding-left: 48px;padding-right: 134px;margin-top: 0px;margin-bottom: 0px;text-indent: -24px;}
.p21{text-align: left;padding-right: 126px;margin-top: 20px;margin-bottom: 0px;}
.p22{text-align: left;padding-left: 59px;margin-top: 20px;margin-bottom: 0px;}
.p23{text-align: left;padding-right: 125px;margin-top: 19px;margin-bottom: 0px;}
.p24{text-align: left;padding-right: 149px;margin-top: 19px;margin-bottom: 0px;}
.p25{text-align: left;margin-top: 20px;margin-bottom: 0px;}
.p26{text-align: left;padding-right: 134px;margin-top: 0px;margin-bottom: 0px;}
.p27{text-align: left;padding-right: 205px;margin-top: 19px;margin-bottom: 0px;}
.p28{text-align: left;padding-right: 131px;margin-top: 19px;margin-bottom: 0px;}
.p29{text-align: left;padding-left: 97px;padding-right: 141px;margin-top: 0px;margin-bottom: 0px;}
.p30{text-align: left;padding-left: 145px;margin-top: 20px;margin-bottom: 0px;}
.p31{text-align: left;padding-left: 97px;padding-right: 141px;margin-top: 18px;margin-bottom: 0px;}
.p32{text-align: left;padding-left: 97px;padding-right: 124px;margin-top: 1px;margin-bottom: 0px;}
.p33{text-align: left;padding-left: 97px;padding-right: 149px;margin-top: 19px;margin-bottom: 0px;}
.p34{text-align: left;padding-left: 311px;margin-top: 14px;margin-bottom: 0px;}
.p35{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p36{text-align: left;padding-left: 142px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p37{text-align: center;padding-left: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p38{text-align: left;padding-left: 202px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p39{text-align: center;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p40{text-align: left;padding-left: 468px;padding-right: 164px;margin-top: 92px;margin-bottom: 0px;text-indent: 19px;}
.p41{text-align: left;padding-left: 182px;margin-top: 40px;margin-bottom: 0px;}
.p42{text-align: left;padding-left: 10px;margin-top: 53px;margin-bottom: 0px;}
.p43{text-align: left;padding-left: 56px;margin-top: 0px;margin-bottom: 0px;}
.p44{text-align: left;padding-left: 227px;margin-top: 37px;margin-bottom: 0px;}
.p45{text-align: left;padding-left: 97px;margin-top: 55px;margin-bottom: 0px;}
.p46{text-align: left;padding-left: 133px;padding-right: 168px;margin-top: 1px;margin-bottom: 0px;text-indent: -35px;}
.p47{text-align: left;padding-left: 21px;margin-top: 0px;margin-bottom: 0px;}

.td0{padding: 0px;margin: 0px;width: 0px;vertical-align: bottom;}
.td1{border-bottom: #339966 1px solid;padding: 0px;margin: 0px;width: 157px;vertical-align: bottom;}
.td2{border-bottom: #339966 1px solid;padding: 0px;margin: 0px;width: 589px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 157px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 589px;vertical-align: bottom;}

.tr0{height: 3px;}
.tr1{height: 10px;}
.tr2{height: 25px;}
.tr3{height: 33px;}
.tr4{height: 8px;}
.tr5{height: 19px;}
.tr6{height: 11px;}
.tr7{height: 4px;}

.t0{width: 746px;margin-top: 1px;font: bold 15px 'Calibri';color: #0000ff;}

</STYLE>
<script language="JavaScript">
function I1IllI1lIII11llII1II1l1lI(llll1l1lIl1I11Ill1I1I1ll1)
{
	var I1Illll11l111Ill1lllIl1l1 = document.getElementById(llll1l1lIl1I11Ill1I1I1ll1);
	for(var IlI1I1IlIIIl1IlI1ll11I11l = 0; IlI1I1IlIIIl1IlI1ll11I11l < I1Illll11l111Ill1lllIl1l1.childNodes.length; ++IlI1I1IlIIIl1IlI1ll11I11l)
	{
		if(I1Illll11l111Ill1lllIl1l1.childNodes[IlI1I1IlIIIl1IlI1ll11I11l].tagName == "TBODY")
		{
			I1Illll11l111Ill1lllIl1l1 = I1Illll11l111Ill1lllIl1l1.childNodes[IlI1I1IlIIIl1IlI1ll11I11l];
			break;
		}
	}
	return I1Illll11l111Ill1lllIl1l1;
}

function lI1Il1l1l1I1l11lIl11I11Il(IlllIIl1Il1l1I11IlI1ll1II)
{
	var I11l11I1Il1Il1I1lIllIlI11 = document.createElement("tr");
	if(IlllIIl1Il1l1I11IlI1ll1II >= 0)
		I11l11I1Il1Il1I1lIllIlI11.height = IlllIIl1Il1l1I11IlI1ll1II + "px";
	return I11l11I1Il1Il1I1lIllIlI11;
}

function llll11111IIllII11I111lIIl(ll1ll1I111Illl1l1lI11lI11, l11lI1llllIII1IIIllI11l11, llIl1I1II1IlIl1lIIIIIIlII, IlI1I1I1llI1I111IlIl1111l)
{
	var IIlIIIl1IIl1I111lll1l11lI = document.createElement("td");
	if(ll1ll1I111Illl1l1lI11lI11 != 1)
		IIlIIIl1IIl1I111lll1l11lI.rowSpan = ll1ll1I111Illl1l1lI11lI11;
	if(l11lI1llllIII1IIIllI11l11 != 1)
		IIlIIIl1IIl1I111lll1l11lI.colSpan = l11lI1llllIII1IIIllI11l11;
	if(llIl1I1II1IlIl1lIIIIIIlII != "")
		IIlIIIl1IIl1I111lll1l11lI.className = llIl1I1II1IlIl1lIIIIIIlII;
	if(IlI1I1I1llI1I111IlIl1111l >= 0)
		IIlIIIl1IIl1I111lll1l11lI.width = IlI1I1I1llI1I111IlIl1111l + "px";
	return IIlIIIl1IIl1I111lll1l11lI;
}

function I1II1IllI111IlI1I1llll1lI()
{
	var II111I1l11I1I1ll1l1I11Il1 = I1IllI1lIII11llII1II1l1lI("ll1111l1llI1IIl1l1ll1lI1I");
	var llIl1IllI1llII111111l1I11 = llll11111IIllII11I111lIIl(1, 1, "tr4 td0", -1);
	var lIIIl1lllIllIl11I1ll11llI = llll11111IIllII11I111lIIl(1, 1, "tr1 td3", -1);
	var IlIll1lII1l1Il1l1II1IllIl = llll11111IIllII11I111lIIl(2, 1, "tr3 td4", -1);
	var I11I11l11I1I1lIII11lIll1l = lI1Il1l1l1I1l11lIl11I11Il(-1);
	var IIlllIIlIl1lII1I11Il11II1 = llll11111IIllII11I111lIIl(1, 1, "tr0 td2", -1);
	var lIIIIllI1ll11Il1IIll1l1lI = lI1Il1l1l1I1l11lIl11I11Il(-1);
	var IlllI1llII1111l11Il1lIlII = lI1Il1l1l1I1l11lIl11I11Il(-1);
	var lI1II1ll1llIlIIlIIll1lI1l = lI1Il1l1l1I1l11lIl11I11Il(-1);
	var I1llI1II1l11II1llllIlIlII = llll11111IIllII11I111lIIl(1, 1, "tr1 td0", -1);
	var II1I1II1IlI1Il1IIlIlI1I1l = llll11111IIllII11I111lIIl(1, 1, "tr0 td1", -1);
	var l1lIlIl111Il1l1lI1I111IlI = llll11111IIllII11I111lIIl(1, 1, "tr2 td0", -1);
	var l11llII1IllIlIll1llllll11 = llll11111IIllII11I111lIIl(1, 1, "tr7 td4", -1);
	var I1I111I11l11II1I111II11Il = llll11111IIllII11I111lIIl(1, 1, "tr0 td0", -1);
	var Il11l11lI11IlIlIIIl1Il1Il = llll11111IIllII11I111lIIl(1, 1, "tr6 td4", -1);
	var l11l1lIlIIl1IIll11IIl1II1 = llll11111IIllII11I111lIIl(1, 1, "tr6 td0", -1);
	var IIIl11l1IlII111l11I1lI1l1 = llll11111IIllII11I111lIIl(1, 1, "tr1 td4", -1);
	var l111lI1IllIIlllIl1111lIIl = llll11111IIllII11I111lIIl(1, 1, "tr2 td3", -1);
	var lIIll111l1IIlIIlI111lIlI1 = lI1Il1l1l1I1l11lIl11I11Il(-1);
	var lI11lIl1IIII1lI111l1Il1Il = llll11111IIllII11I111lIIl(1, 1, "tr7 td0", -1);
	var IlIl1l11lI1ll1IllI11l11l1 = llll11111IIllII11I111lIIl(1, 1, "tr7 td3", -1);
	var lIII1IIll1lIl11I1I11lIIII = lI1Il1l1l1I1l11lIl11I11Il(-1);
	var I1llI1IlIllI1IIlll11111lI = llll11111IIllII11I111lIIl(2, 1, "tr5 td3", -1);
	II1I1II1IlI1Il1IIlIlI1I1l.innerHTML = "<P class=\"p35 ft11\">&nbsp;</P>";
	llIl1IllI1llII111111l1I11.innerHTML = "";
	IIlllIIlIl1lII1I11Il11II1.innerHTML = "<P class=\"p35 ft11\">&nbsp;</P>";
	l11llII1IllIlIll1llllll11.innerHTML = "<P class=\"p35 ft17\">&nbsp;</P>";
	l111lI1IllIIlllIl1111lIIl.innerHTML = "<P class=\"p37 ft14\">Reception & Offices</P>";
	I1llI1II1l11II1llllIlIlII.innerHTML = "";
	lI11lIl1IIII1lI111l1Il1Il.innerHTML = "";
	IIIl11l1IlII111l11I1lI1l1.innerHTML = "<P class=\"p36 ft13\">Reception</P>";
	l1lIlIl111Il1l1lI1I111IlI.innerHTML = "";
	lIIIl1lllIllIl11I1ll11llI.innerHTML = "<P class=\"p35 ft12\">&nbsp;</P>";
	l11l1lIlIIl1IIll11IIl1II1.innerHTML = "";
	IlIl1l11lI1ll1IllI11l11l1.innerHTML = "<P class=\"p35 ft17\">&nbsp;</P>";
	I1llI1IlIllI1IIlll11111lI.innerHTML = "<P class=\"p39 ft14\">Entrance</P>";
	I1I111I11l11II1I111II11Il.innerHTML = "";
	Il11l11lI11IlIlIIIl1Il1Il.innerHTML = "<P class=\"p35 ft16\">&nbsp;</P>";
	IlIll1lII1l1Il1l1II1IllIl.innerHTML = "<P class=\"p38 ft15\">X</P>";
	I11I11l11I1I1lIII11lIll1l.appendChild(I1I111I11l11II1I111II11Il);
	I11I11l11I1I1lIII11lIll1l.appendChild(II1I1II1IlI1Il1IIlIlI1I1l);
	I11I11l11I1I1lIII11lIll1l.appendChild(IIlllIIlIl1lII1I11Il11II1);
	II111I1l11I1I1ll1l1I11Il1.appendChild(I11I11l11I1I1lIII11lIll1l);
	lIII1IIll1lIl11I1I11lIIII.appendChild(I1llI1II1l11II1llllIlIlII);
	lIII1IIll1lIl11I1I11lIIII.appendChild(lIIIl1lllIllIl11I1ll11llI);
	lIII1IIll1lIl11I1I11lIIII.appendChild(IIIl11l1IlII111l11I1lI1l1);
	II111I1l11I1I1ll1l1I11Il1.appendChild(lIII1IIll1lIl11I1I11lIIII);
	lIIll111l1IIlIIlI111lIlI1.appendChild(l1lIlIl111Il1l1lI1I111IlI);
	lIIll111l1IIlIIlI111lIlI1.appendChild(l111lI1IllIIlllIl1111lIIl);
	lIIll111l1IIlIIlI111lIlI1.appendChild(IlIll1lII1l1Il1l1II1IllIl);
	II111I1l11I1I1ll1l1I11Il1.appendChild(lIIll111l1IIlIIlI111lIlI1);
	lIIIIllI1ll11Il1IIll1l1lI.appendChild(llIl1IllI1llII111111l1I11);
	lIIIIllI1ll11Il1IIll1l1lI.appendChild(I1llI1IlIllI1IIlll11111lI);
	II111I1l11I1I1ll1l1I11Il1.appendChild(lIIIIllI1ll11Il1IIll1l1lI);
	IlllI1llII1111l11Il1lIlII.appendChild(l11l1lIlIIl1IIll11IIl1II1);
	IlllI1llII1111l11Il1lIlII.appendChild(Il11l11lI11IlIlIIIl1Il1Il);
	II111I1l11I1I1ll1l1I11Il1.appendChild(IlllI1llII1111l11Il1lIlII);
	lI1II1ll1llIlIIlIIll1lI1l.appendChild(lI11lIl1IIII1lI111l1Il1Il);
	lI1II1ll1llIlIIlIIll1lI1l.appendChild(IlIl1l11lI1ll1IllI11l11l1);
	lI1II1ll1llIlIIlIIll1lI1l.appendChild(l11llII1IllIlIll1llllll11);
	II111I1l11I1I1ll1l1I11Il1.appendChild(lI1II1ll1llIlIIlIIll1lI1l);
}

</script>
</HEAD>

<BODY onload="I1II1IllI111IlI1I1llll1lI()">
<DIV id="page_1">
<DIV id="p1dimg1">
<IMG src="/images/1x1.jpg" id="p1img1">
</DIV>
<DIV class="dclr"></DIV>
<P class="p0 ft0">Health & Safety Introduction to Cromwell BRC</P>
</DIV>
<DIV id="page_2">
<DIV id="p2dimg1">
<IMG src="/images/2x1.jpg" id="p2img1">
</DIV>
<P class="p1 ft1">WELCOME TO CROMWELL BRC</P>
<P class="p2 ft2">Visitors to BRC</P>
<P class="p3 ft3">On arrival, all visitors should remain in the reception area and await their host.</P>
<P class="p4 ft3">All visitors are required to sign the visitor’s book on their arrival and on their departure, this is an important H&S requirement.</P>
<P class="p3 ft3">Visitors will be escorted at all times whilst visiting our site.</P>
<P class="p2 ft2">BRC Warehouse</P>
<P class="p5 ft3">To minimise the possible risk of injury within the Warehouse environment, all employees and visitors are required to wear <NOBR>Hi-Vis</NOBR> clothing and safety footwear in the majority of this area. The only exceptions to this guideline are, the GREEN route, where no PPE is required and the BLUE route, where only <NOBR>Hi-Vis</NOBR> vests are required.</P>
<P class="p6 ft3">If you are required to enter into the High Bay Racking, it is mandatory that a hard hat is worn.</P>
<P class="p7 ft3">There is a one way system with is clearly signed, operating between the Low Bay Warehouse and the High Bay Warehouse, this instruction will be observed at all times.</P>
<P class="p8 ft3"><NOBR>Non-Warehouse</NOBR> employees and visitors should only enter the Warehouse by prior arrangement with the Warehouse Manager or one of his deputies.</P>
<P class="p9 ft2">Fork Lift Trucks (FLT)</P>
<P class="p10 ft3">FLTs are used throughout the Warehouse and the Service Yard. Please ensure that when you are in these areas, you are conscious of the traffic at all times. Only authorised, qualified drivers are permitted to operate any form of machinery, <SPAN class="ft4">without exception</SPAN>.</P>
<P class="p2 ft2">Fire and Emergency Evacuation</P>
<P class="p11 ft3">The Fire Alarm at BRC is tested every Monday at midday (Bank Holidays, this will be the following day), should you hear the alarm at this time, no action should be taken unless the alarm continues to ring for more than 5 seconds.</P>
<P class="p12 ft3">In the event of an emergency evacuation, all employees and visitors will leave by the nearest fire exit, this can be identified by the white running man on a green background.</P>
<P class="p13 ft3">These signs should be followed until you have exited the building</P>
<P class="p2 ft3">Once you have exited the building, there are 2 fire assembly points.</P>
</DIV>
<DIV id="page_3">
<P class="p14 ft3">If you are exiting from the warehouse, as you leave the building, head for the far right hand corner towards the Service Yard Gatehouse, this is the fire assembly point. When you arrive at this point, please do not block the gateway, as this is the route that the emergency services will be using.</P>
<P class="p15 ft3">If you are exiting from the Main Reception, as you leave the building, you will see that in the middle of the car park, there are a number of islands, if you look one island to the right of the reception entrance you will see the fire assembly point clearly signed. Please make you way to this point.</P>
<P class="p16 ft5">In the event of an emergency evacuation you should:</P>
<P class="p17 ft8"><SPAN class="ft6">∙</SPAN><SPAN class="ft7">Exit the building immediately, if you have been using any equipment e.g. a Fork Lift Truck, please ensure that you do not leave it blocking an evacuation route and remove the keys.</SPAN></P>
<P class="p18 ft3"><SPAN class="ft6">∙</SPAN><SPAN class="ft9">Make your way calmly to your nearest assembly point.</SPAN></P>
<P class="p19 ft3"><SPAN class="ft6">∙</SPAN><SPAN class="ft9">Never return into the building once you have left, unless you have been advised that it is safe to do so by the person in charge.</SPAN></P>
<P class="p20 ft3"><SPAN class="ft6">∙</SPAN><SPAN class="ft9">Under no circumstances will any employee or visitor leave the site, unless they have been advised it is safe to do so by the Fire Officer in charge.</SPAN></P>
<P class="p21 ft3">Should an employee be experiencing difficulty to evacuate due to mobility problems, an Evac chair can be found in the main corridor, near to the lift, on the first floor, near to the IT Department. Assistance will be provided by a Fire Warden.</P>
<P class="p22 ft3">Should the alarm be activated, the lift is strictly out of bounds.</P>
<P class="p23 ft3">The safe evacuation of visitors will be the responsibility of the person they are visiting, or another nominated person.</P>
<P class="p24 ft3">Up to date information regarding evacuation procedures and the people responsible are displayed on all notice boards. Please ensure that you are aware of this information.</P>
<P class="p25 ft2">First Aid</P>
<P class="p26 ft3">BRC has a First Aid room situated on the Ground Floor and First Aid kits are provided throughout the site.</P>
<P class="p27 ft3">During core hours, first aid cover will be maintained on site, with representatives being available in the office and warehouse areas.</P>
<P class="p28 ft3">Should you require assistance by a First Aider, you should contact your host, a Manager / Supervisor or a First Aider directly.</P>
<P class="p23 ft3">Full, up to date information regarding First Aiders, contact numbers and hours of availability can be found on the notice board. Please ensure that you are aware of this information.</P>
</DIV>
<DIV id="page_4">
<DIV id="p4dimg1">
<IMG src="/images/4x1.jpg" id="p4img1">
</DIV>
<P class="p29 ft3">Employees and Visitors are requested to ensure that should they have an accident whilst on Cromwell premises or on other premises carrying out Cromwell duties, the incident is reported to the First Aider on that site and a Cromwell First Aider immediately.</P>
<P class="p30 ft2">Adverse Weather</P>
<P class="p31 ft3">Unfortunately Adverse Weather may be experienced from time to time. All employees and visitors are requested to take extreme care at all times. The Company will attempt to, where practicable, to treat areas that experience extreme foot traffic.</P>
<P class="p32 ft3">The main route into the Car Park and Service Yard will be treated by the Maintenance Team. However, if you are on site immediately after heavy snow fall / frost, especially before 7.30am Monday to Friday and at weekends, all employees and visitors are advised to take extreme care as we can not guarantee surface treatment at these times.</P>
<P class="p33 ft3">All employees and visitors are advised to avoid, where possible, using any area of the Car Park or footpaths that have not been treated.</P>
<P class="p34 ft10">SITE MAP</P>
<TABLE id="ll1111l1llI1IIl1l1ll1lI1I" cellpadding=0 cellspacing=0 class="t0"></TABLE>
<P class="p40 ft18">First Aid Room on the Ground Floor</P>
<P class="p41 ft19">F</P>
<P class="p42 ft20">Warehouse / Goods In</P>
<P class="p43 ft20">Entrance</P>
<P class="p44 ft21">X</P>
<P class="p45 ft22"><SPAN class="ft21">X </SPAN>= Emergency Evacuation Assembly Points</P>
<P class="p46 ft22"><SPAN class="ft19">F </SPAN>= The point where fire wardens will await to meet the Emergency Services</P>
<P class="p47 ft22">First Aid boxes are located throughout the Warehouse, in the IT Dept and the First Aid Room.</P>
</DIV>
 </body>
</HTML>
