
<html>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="/css/responsive.bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">

<style>
    body {
        padding-top: 85px;
    }


</style>


<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/graph">Cromwell Reception</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">

                <li id="allVisitor">
                    <a href="/allVisitors" data-toggle="dropdown">Visitors
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li id="VisitorsIn"><a href="/allVisitors" >Visitors In</a></li>
                        <li id="VisitorsOut"><a href="/allSignOut" >Visitors Out</a></li>

                    </ul>
                </li>


                <li class="menu-item dropdown" id="Staff"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Staff <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li class="menu-item dropdown dropdown-submenu"><a href="/autoComplete" class="dropdown-toggle" data-toggle="dropdown">BRC</a>
                            <ul class="dropdown-menu">
                                <li><a href="/staffSignedIn/2">Staff Signed In</a></li>
                                <li><a href="/staffSignedOut/2">Staff Signed Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li id="allPrintOut">
                    <a href="#" data-toggle="dropdown">Print
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/allPrintOut/1">Print At Reception</a></li>
                        <li><a href="/allPrintOut/2">Print Here</a></li>
                    </ul>
                </li>

                <li class="menu-item dropdown" id="Config"><a href="#" class="dropdown-toggle" data-toggle="dropdown" >Config <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                                <li class="menu-item dropdown dropdown-submenu"><a href="/autoComplete" class="dropdown-toggle" data-toggle="dropdown">Auto Complete</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/autoComplete">All Suggestions</a></li>
                                        <li><a href="/autoCompleteAdd">Add New Suggestion</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item dropdown dropdown-submenu"><a href="/allFireMarshall" class="dropdown-toggle" data-toggle="dropdown">Fire Marshall</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/allFireMarshall">All FireMarshall</a></li>
                                        <li><a href="/fireMarshall">Add FireMarshall</a></li>
                                    </ul>
                                </li>

                                <li class="menu-item dropdown dropdown-submenu"><a href="/allTerms" class="dropdown-toggle" data-toggle="dropdown">T&C's</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/allTerms">All T&Cs</a></li>
                                        <li><a href="/templateTerms">Add New T&Cs</a></li>
                                    </ul>
                                </li>

                                <li id="status"><a href="/graph" >Status</a></li>
                    </ul>
                </li>



            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
{{{body}}}

<script src="/js/jquery-1.12.3.min.js" ></script>
<script src="/js/jquery.dataTables.min.js" ></script>
<script src="/js/dataTables.bootstrap.min.js" ></script>
<script src="/js/dataTables.responsive.min.js" ></script>
<script src="/js/responsive.bootstrap.min.js" ></script>
<!-- Latest compiled and minified JavaScript -->
<script src="/js/bootstrap.min.js"></script>
<script>

    $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function(event) {
        // Avoid following the href location when clicking
        event.preventDefault();
        // Avoid having the menu to close when clicking
        event.stopPropagation();
        // If a menu is already open we close it
        $('ul.dropdown-menu [data-toggle=dropdown]').parent().removeClass('open');
        // opening the one you clicked on
        $(this).parent().addClass('open');

        var menu = $(this).parent().find("ul");
        var menupos = menu.offset();

        if ((menupos.left + menu.width()) + 30 > $(window).width()) {
            var newpos = - menu.width();
        } else {
            var newpos = $(this).parent().width();
        }
        menu.css({ left:newpos });

    });

    $(".nav li").on("click", function() {
        $(".nav li").removeClass("active");
        localStorage.setItem("activeClass", jQuery(this).attr("id"));
    });

    if(localStorage.getItem("activeClass")){
        var lid = localStorage.getItem("activeClass");
        $("ul").find( "#" + lid).addClass("active");
    }

</script>
</body>
<script>
//    var t = "<span>this is text</span>";
//    var iframe =$('<iframe id="mailtoFrame" src="mailto:exapmle?Content-Type=text/html;&body=<span>thsi is test</span>" width="1" height="1" border="0" frameborder="0"></iframe>');
//    $('body').append(iframe);
</script>
</html>
